
.body{

    align-items: center;
    justify-content: center ;

}

.lgn-tbl{

    border: 1px solid blue;
    height: 200px;
    width: 1500px;
    justify-content: center;
    margin: 0 auto;
    


}

.lgn-tbl table {    
    margin: 0 auto;


}



.rgr-tbl{

    border: 1px solid blue;
    height: 300px;
    width: 1500px;
    margin: auto;
    
}

.rgr-tbl table {
    margin: 0 auto;
}

