.container{
    width:1300px;
    height:800px;
    border:1px solid black;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.innr-container{
    width:1000px;
    height:700px;
    border:1px solid blue;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    text-align:center;
}

.login-box table{
    margin:auto;
}

.sml-container{
    border: 1px solid blue;
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}