{% extends "base.html" %}
{% block title %}Admin - Add Trek{% endblock %}
{% block sidebar %}
<a href="/admin_dashboard"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/manage_treks"><input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/all_staffs"><input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/all_users"><input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/bookings"><input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
{% endblock %}
{% block content %}
<div class="admn-head" style="text-align: center;">
<h2>Admin Dashboard</h2>
<br>
<div style="text-align: left;">
<h3>Add new Trek</h3>
</div>
<br>
<div>
<form method="POST" action="/add_edit_trek">
<table>
<tr><td>Trek Name</td><td><input type="text" name="trek_name" required></td></tr>
<tr><td>Location</td><td><input type="text" name="location" required></td></tr>
<tr><td>Difficulty</td><td><input type="text" name="difficulty" required></td></tr>
<tr><td>Duration(Days)</td><td><input type="text" name="duration" required></td></tr>
<tr><td>Available Slots</td><td><input type="number" name="available_slots" required></td></tr>
</table>
<div>
<table>
<tr><td>Start Date</td><td><input type="date" name="start_date" required></td></tr>
<tr><td>End Date</td><td><input type="date" name="end_date" required></td></tr>
<tr><td>Assign Staff</td><td>
<select name="assigned_staff_id" class="utype-box" style="width: 170px; height: 25px;">
<option value="None">None</option>
{% for s in staff_list %}
<option value="{{ s.user_id }}">{{ s.full_name }}</option>
{% endfor %}
</select>
</td></tr>
<tr><td>Status</td><td><input type="text" name="status" required></td></tr>
<tr><td>Description</td><td><textarea name="description" rows="7" cols="25" placeholder="Type here..." required></textarea></td></tr>
</table>
</div>
<br>
<a href="/manage_treks"><input type="button" value="Cancel" style="width: 80px; background-color: red; color: aliceblue;"></a>
<input type="submit" value="Save" style="width: 80px; color: blue;">
</form>
</div>
</div>
{% endblock %}