<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="container">


<div>
<input type="button" value="Home" style="width: 290px; height: 50px; margin: 0 auto;    "><br>
<input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;"><br>
<input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;"><br>
<input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"><br>
<input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;"><br>
<input type="button" value="logout" style="width: 290px; height: 50px; margin: 0 auto;">

</div>






<div class="innr-container">
<div class="admn-head" style="text-align: center;"><h2>Admin Dashboard</h2>
<br>

<div style="text-align: left;"><h3>Dashboard</h3></div>
<div class="sml-container">
<h4>Total treks: </h4>
&nbsp; <p>42</p>
</div>


<div class="sml-container">
<h4>Total Users: </h4>
&nbsp; <p>120</p>


</div>

<div class="sml-container">
<h4>Total Staffs: </h4>
&nbsp; <p>18</p>


</div>

<div class="sml-container">
<h4>Total Bookings:  </h4>
&nbsp; <p>185</p>


</div>




<br>

<div class="adm-dash" style="text-align: left;"><h4>Recent Bookings</h4></div>
<table border="1px solid black;">

<tr><td>Booking ID</td><td>User</td><td>User</td>
<td>Booking Date</td><td>Status</td></tr>
<tr><td>B001</td><td>Amit Sharma</td><td>Everest base camp</td>
<td>12 august 2026</td><td>Booked</td></tr>
<tr><td>B002</td><td>Amia</td><td>East base camp</td>
<td>14 august 2026</td><td>Booked</td></tr>
<tr><td>B001</td><td>Narma Ga</td><td>Kedarnath trek</td>
<td>1 july 2026</td><td>Cancelled</td></tr>

</table>
<!--view allboking-->
<br>
<div style="text-align: right;"><a href="#">View all Bookings</a>
</div>
</div>
</div>    

</body>
</html>