{% extends "base.html" %}
{% block title %}Arohan - Admin{% endblock %}




{% block sidebar %}

<input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;" disabled><br>
<a href="/manage_treks"><input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/all_staffs"><input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/all_users"><input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/bookings"><input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
{% endblock %}


{% block content %}
<h2>Admin Dashboard</h2>
<br>

{% for d in app_dict %}

<div style="text-align: left;"><h3>Dashboard</h3></div>
<div class="sml-container">
<h4>Total treks: </h4>
&nbsp; <p>{{ d.t_treks }}</p>
</div>


<div class="sml-container">
<h4>Total Users: </h4>
&nbsp; <p>{{ d.t_users }}</p>


</div>

<div class="sml-container">
<h4>Total Staffs: </h4>
&nbsp; <p>{{ d.t_staffs }}</p>


</div>

<div class="sml-container">
<h4>Total Bookings:  </h4>
&nbsp; <p>{{ d.t_booking }}</p>


</div>
{% endfor %}



<br>

<div class="adm-dash" style="text-align: left;"><h4>Recent Bookings</h4></div>
<table border="1px solid black;">

<tr><th>Booking ID</th><th>User</th><td>Camp</th>
<th>Booking Date</th><th>Status</th></tr>

{% for d in app_data %}

<tr><td>{{d.b_id}}</td><td>{{d.uname}}</td><td>{{d.camp}}</td>
<td>{{d.b_date}}</td><td>{{d.status}}</td></tr>
{% endfor %}
</table>


<!--view allboking-->
<br>
<div style="text-align: right;"><a href="/Bookings">View all Bookings</a>
{% endblock %}
