<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Requests</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="container">

<div>
<a href="admin_dashboard.html"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="all_treks.html"><input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;" disabled><br>
<a href="all_users.html"><input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="Bookings.html"><input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="login.html"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>

</div>



<div class="innr-container">
<div class="admn-head"><h1>Staff Requests

<div class="staff-status">
    <input type="button" value="Pending">
    <input type="button" value="Approved">
    <input type="button" value="Blacklisted">
</div>

    </h1>

<div style="align-items: center; justify-content: center;">
<table border="1px solid black">
<tr><td>Staff ID</td><td>Name</td><td>Email</td><td>Contact</td><td>Status</td><td>Actions</td></tr>
<tr><td>XXXXXX</td><td>XXXXXXXXXX</td><td>XXXXXXXXXX</td><td>XXXXXX</td><td>XXXXXXXXX</td><td>&nbsp;<input type="button" value="Approve">&nbsp; &nbsp;<input type="button" value="Reject">&nbsp;</td></tr>




</table>
</div>
</body>

</div>
</div>
</div>
</html>