{% extends "base.html" %}


{% block sidebar %}
<a href="/admin_dashboard"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/manage_treks"><input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/all_staffs"><input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;" disabled></a><br>
<a href="/all_users"><input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/bookings"><input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
{% endblock %}

{% block content %}
<div style="text-align: center;">

    <h2>Manage Staff</h2>

    <h3 style="text-align: left; color: green;">&nbsp; &nbsp; &nbsp;Current Staff (Limit: 5)</h3>


<br>
<br>

    <table border="1px solid black" style="margin: 0 auto;" >

        <tr><th>Staff ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Status</th><th>Actions</th></tr>
        {% for s in current_staff %}
        <tr>
            <td>{{ s.user_id }}</td><td>{{ s.full_name }}</td><td>{{ s.email }}</td><td>{{ s.phone }}</td><td>{{ s.status }}</td>
            <td>
                <a href="/update_status/{{ s.user_id }}/Fired"><input type="button" value="Blacklist" style="background-color: red; color: white;"></a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h3 style="text-align: left; color: red;">&nbsp; &nbsp; &nbsp;Staff Requests (Pending)</h3>
            <form method="POST" action="">
&nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp;
<input type="search" name="search" style="width: 500px; height: 30px;">    
<input type="submit" value="Search" style="height: 30px; cursor: pointer;">
</form>

<br><br>
    <table border="1px solid black" style="margin: auto;" >
        <tr><th>Staff ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Status</th><th>Actions</th></tr>
        {% for s in pending_staff %}
        <tr>
            <td>{{ s.user_id }}</td><td>{{ s.full_name }}</td><td>{{ s.email }}</td><td>{{ s.phone }}</td><td>{{ s.status }}</td>
            <td>
                <a href="/update_status/{{ s.user_id }}/Active"><input type="button" value="Approve" style="background-color: green; color: white;"></a>
                <a href="/update_status/{{ s.user_id }}/Rejected"><input type="button" value="Reject" style="background-color: red; color: white;"></a>
            </td>
        </tr>
        {% endfor %}

        {% if err_msg %}
            <h4 style="color: red;">{{ err_msg }}</h4>
        {% endif %}
    </table>

    <br><hr><br>

</div>
{% endblock %}