{% extends "base.html" %}

{% block title %}Arohan - Admin{% endblock %}

{% block sidebar %}

<a href="/admin_dashboard"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/manage_treks"><input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;" ></a><br>
<a href="/all_staffs"><input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/all_users"><input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/bookings"><input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;" disabled></a><br>
<a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>

{% endblock %}

{% block content %}

<br>
    <br>

<div style="margin: 0 auto;">
    <h1>All Bookings</h1>
    <br>

<form method="POST" action="">
    <input type="search" name="search" style="width: 500px; height: 30px;" placeholder="Search...">
    <input type="submit" value="Search" style="height: 30px; cursor: pointer;">
</form></div>
<br>
<br>

    <table border="1px solid black" >
    <tr>
        <th>Booking_ID</th>
        <th >User Name</th>
        <th>Trek Name</th>
        <th>Booking_Date</th>
        <th>Status</th>
    </tr>

    {% for b, u, t in bkng %}
    <tr>
        <td>{{ b.booking_id }}</td>
        <td>{{ u.full_name }}</td>
        <td>{{ t.trek_name }}</td>
        <td>{{ b.booking_date }}</td>
        <td>{{ b.status }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}