<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Giryarohi</title>
    <link rel="stylesheet" href="/static/main.css">

</head>
<body>

<div class="lgn-cntr" style="border: 1px solid black;">
<h1>Login</h1>


<table border="1px solid blue;">
<tr><td>Email: </td>  <td><input type="email"></td>  </tr>
<tr><td>Password: </td> <td><input type="password"></td></tr>
</table>    
</div>

</body>
</html>