<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arohan - Login Page</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="container">
<div class="innr-container">
<div class="login-box"><h1>Login</h1>

<table>
    <tr><td>Email</td><td><input type="text"></td></tr>
    <tr><td>Password</td><td><input type="password"></td></tr>
</table>
<br>
<input type="button" value="Login" style="width: 250px; height: 40px;"></td>
        <!--<td><a href="login.html">Already Registered?</a></td>--></tr>
<br>
<br>

<input type="button" value="Not Registered?" style="width: 250px; height: 40px;" onclick="window.location.href='Register.html'">



</div>
</div>
</div>


</body>
</html>