{% extends "base.html" %}
{% block title %}Arohan - Admin{% endblock %}




{% block sidebar %}
<a href="/admin_dashboard"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/manage_treks"><input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;" disabled></a><br>
<a href="/all_staffs"><input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/all_users"><input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/bookings"><input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
{% endblock %}


{% block content %}

<h1>Treks
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/add_edit_trek"><input type="button" value="+ Add New Treks" style="color:blue; height: 30px;"></a>

</h1>
<form method="POST" action="" style="margin: auto;">
   &nbsp; <input type="search" name="search" id="search" style="width: 800px; height: 30px;">    
    <input type="submit" value="Search" style="height: 30px;">
</form>

<br>

    <table border="1px solid black" >
    <tr>
        <th>ID</th>
        <th>Trek Name</th>
        <th>Location</th>
        <th>Difficulty</th>
        <th>Slots</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for t in trekdata %}
    <tr>
        <td>{{ t.trek_id }}</td>
        <td>{{ t.trek_name }}</td>
        <td>{{ t.location }}</td>
        <td>{{ t.difficulty }}</td>
        <td>{{ t.available_slots }}</td>
        <td>{{ t.status }}</td>
        <td>
            <a href="/delete_trek/{{ t.trek_id }}"><input type="button" value="delete" style="background-color: blueviolet; color: aliceblue;"></a>        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
