<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arohan - Admin</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="container">
<div>
<a href="admin_dashboard.html"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="manage_treks.html"><input type="button" value="Treks" style="width: 290px; height: 50px; margin: 0 auto;" disabled></a><br>
<a href="all_staff.html"><input type="button" value="Staff" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="all_users.html"><input type="button" value="Users" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="Bookings.html"><input type="button" value="Bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="login.html"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
</div>





<div class="innr-container">
<div class="admn-head"><h1>Treks
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="add_edit_trek.html"><input type="button" value="+ Add New Treks" style="color:blue; height: 30px;"></a>

</h1>
<input type="search" name="search" id="search" style="width: 800px; height: 30px;">
<input type="button" value="search" style="height: 30px;">
<br>
<br>

<div style="align-items: center; justify-content: center;">
<table border="1px solid black">
<tr><th>ID</th><th>Trek Name</th><th>Location</th><th>Difficulty</th><th>Slots</th><th>Status</th><th>Actions</th></tr>

{% for d in trekdata %}
<tr><td>{{d.id}}</td><td>{{d.trekname}}</td><td>{{d.location}}</td><td>{{d.difficulty}}</td><td>{{d.slots}}</td><td>{{d.status}}</td><td>&nbsp;<a href="add_edit_trek.html"><input type="button" value="edit" style="color:white; background-color: green;">&nbsp;</a><input type="button" value="delete" style="background-color: blueviolet; color: aliceblue;"></td></tr>
{% endfor %}



</table>
</div>
</body>
</div>
</div>
</div>
</html>