<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff -Manage Tracks</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="container">


<div>
<a href="staff_dashboard.html"><input type="button" value="My Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="manage_trek.html"><input type="button" value="My Treks" style="width: 290px; height: 50px; margin: 0 auto;" disabled></a><br>
<a href="participants.html"><input type="button" value="Participants" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="profile.html"><input type="button" value="Profile" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="login.html"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>

</div>






<div class="innr-container">
<div class="admn-head" style="text-align: center;"><h2>Everest Base Camp</h2>
<a href="staff_dashboard.html">&lt;- Back to My Treks</a>
<br>

<div style="text-align: left;"><h3>Track information</h3></div>
<div class="sml-container">
<h4>Location: </h4>
&nbsp; <p>Nepal</p>
</div>


<div class="sml-container">
<h4>Duration: </h4>
&nbsp; <p>12 days</p>


</div>

<div class="sml-container">
<h4>Start date: </h4>
&nbsp; <p>20-May-2026</p>
</div>

<div class="sml-container">
<h4>End date:  </h4>
&nbsp; <p>1 june-2026</p>
</div>

<div class="sml-container">
<h4>Total slots:  </h4>
&nbsp; <p>20</p>
</div>


<div class="sml-container">
<h4>Available slots:  </h4>
&nbsp; <p>12</p>
</div>


<div class="sml-container">
<h4>Status:  </h4>
&nbsp; <p>XXX</p>
</div>

<br>

<div class="adm-dash" style="text-align: left;"><h4>Participants</h4></div>
<table border="1px solid black;">

<tr><td>User_name</td><td>Email</td><td>Booking_Date</td>
<td>Status</td></tr>

<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXX</td>
<td>XXXXX</td></tr>
<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXX</td>
<td>XXXXX</td></tr>
<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXX</td>
<td>XXXXX</td></tr>
</table>
<br>
<br>
<input type="button" value="Mark as Started" style="width: 200px; color: blue;">&nbsp;
<input type="button" value="Mark as Completed" style="width: 200px; color: blue;">
<!--view allboking-->
<br>
</div>
</div>
</div>    

</body>
</html>