{% extends "base.html" %}
{% block title %}Arohan - Trkker Profile Page{% endblock %}



{% block sidebar %}
    <a href="/trekker_dashboard"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;" ></a><br>
    <a href="/all_treks"><input type="button" value="Browse Treks" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
    <a href="/my_bookings"><input type="button" value="My bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
    <a href="/profile_trekker"><input type="button" value="Profile" style="width: 290px; height: 50px; margin: 0 auto;" disabled></a><br>
    <a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
{% endblock %}


{% block content %}
<h2>My Profile</h2>
    <br><br>
    <h3><b>Name:</b> {{ d.full_name }}</h3>
    <br>
    <h3><b>Email:</b> {{ d.email }}</h3>
    <br>
    <h3><b>Contact:</b> {{ d.phone }}</h3>
    <br>
    <h3 style="color: green;"><b>Status:</b> {{ d.status }}</h3>
    
    <br><br>
    <a href="/edit_profile">
    </a>



{% endblock %}