<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arohan - Register Page</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="container">
<div class="innr-container">
<div class="login-box"><h1>Login</h1>

<table>
    <tr><td>Full Name: </td><td><input type="text"></td></tr>
    <tr><td>Email: </td><td><input type="text"></td></tr>
    <tr><td>Password: </td><td><input type="password"></td></tr>
    <tr><td>Age: </td><td><input type="number"></td></tr>
    <tr><td>I am a: </td><td>
<select name="utype" class="utype-box" style="width: 170px; height: 25px;">
<option value="None">None</option>
<option value="Trekker">Trekker</option>
<option value="Trekker Staff">Trekker Staff</option>
</td></tr>
</table>

<br>
<input type="button" value="Register" style="width: 250px; height: 40px;"></td>
        <!--<td><a href="login.html">Already Registered?</a></td>--></tr>
<br>
<br>

<input type="button" value="Already Registered?" style="width: 250px; height: 40px;" onclick="window.location.href='login.html'">


</div>
</div>
</div>


</body>
</html>