{% extends "base.html" %}
{% block title %}Arohan - Register Page{% endblock %}



{% block sidebar %}
{% endblock %}

{% block content %}



<div style="text-align: center; margin-top: 50px;">
<h1>Register</h1>

<form method="POST" action="/register">
<table style="margin: 0 auto;">


    <tr><td>Full Name: </td><td><input type="text" name="nam" required></td></tr>
    <tr><td>Email: </td><td><input type="email" name="emailid" required></td></tr>
    <tr><td>Password: </td><td><input type="password" name="pwd" required></td></tr>
    <tr><td>Phone Number: </td><td><input type="tel" name="phn"></td></tr>
    <tr><td>I am a: </td><td>
<select name="utype" class="utype-box" style="width: 170px; height: 25px;" required>
<option value="2">Trekker</option>
<option value="1">Trekker Staff</option>
</select>
</td></tr>


</table>

<div style="color: red">{{err_msg}}<h4></h4></div>

<br>
<input type="submit" value="Submit" style="width: 250px; height: 60px; color: blue">
<br>
<br>

<a href="/login"><input type="button" value="Already Registered? Login" style="width: 250px; height: 40px;"></a>
</form>
</div>

{% endblock %}