{% extends "base.html" %}
{% block title %}Arohan - Register Page{% endblock %}



{% block sidebar %}
{% endblock %}

{% block content %}



<div style="text-align: center; margin-top: 50px;">
<h1>Register</h1>

<form method="POST">
<table style="margin: 0 auto;">


    <tr><td>Full Name: </td><td><input type="text"></td></tr>
    <tr><td>Email: </td><td><input type="text"></td></tr>
    <tr><td>Password: </td><td><input type="password"></td></tr>
    <tr><td>Phone Number: </td><td><input type="tel"></td></tr>
    <tr><td>I am a: </td><td>
<select name="utype" class="utype-box" style="width: 170px; height: 25px;">
<option value="None">None</option>
<option value="Trekker">Trekker</option>
<option value="Trekker Staff">Trekker Staff</option>
</select>
</td></tr>
</table>

<br>
<input type="submit" value="Submit" style="width: 250px; height: 60px; color: blue">
<br>
<br>

<a href="/login"><input type="button" value="Already Registered? Login" style="width: 250px; height: 40px;"></a>
</form>
</div>

{% endblock %}