{% extends "base.html" %}
{% block title %}Arohan - Staff Dashboard{% endblock %}

{% block sidebar %}
    <a href="/staff_dashboard"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;" disabled></a><br>
    <a href="/staff_trek_manage"><input type="button" value="Manage Treks" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
    <a href="/participants"><input type="button" value="Participants" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
    <a href="/profile_staff"><input type="button" value="Profile" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
    <a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
{% endblock %}

{% block content %}
    <div class="admn-head" style="text-align: center;">        
        <h2>Staff Dashboard - My Assigned Treks</h2>
    </div>
    <br>

    <table border="1px solid black" >
        <tr>
            <th>Trek ID</th>
            <th>Trek Name</th>
            <th>Location</th>
            <th>Dates</th>
            <th>Slots Available</th>
            <th>Status</th>
        </tr>

        {% for t in treks %}
        <tr>
            <td>{{ t.trek_id }}</td>
            <td>{{ t.trek_name }}</td>
            <td>{{ t.location }}</td>
            <td>{{ t.start_date }} to {{ t.end_date }}</td>
            <td>{{ t.available_slots }} / {{ t.total_slots }}</td>
            <td style="color: blue; font-weight: bold;">{{ t.status }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}