{% extends "base.html" %}

{% block title %}Arohan - Staff{% endblock %}

{% block sidebar %}
<a href="/staff_dashboard"><input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/staff_trek_manage"><input type="button" value="My Treks" style="width: 290px; height: 50px; margin: 0 auto;"disabled></a><br>
<a href="/participants"><input type="button" value="Participants" style="width: 290px; height: 50px; margin: 0 auto;" ></a><br>
<a href="/profile_staff"><input type="button" value="Profile" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="/logout"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
{% endblock %}

{% block content %}
<div class="admn-head" style="text-align: center;">

<h2> trek.trek_name </h2>

<a href="/staff_dashboard">
&lt;- Back to Staff Dashboard
</a>

<br>
<br>

<div style="text-align: left;">
<h3>Trek Information</h3>
</div>

<div class="sml-container">
<h4>Location:</h4>
<p>trek.location</p>
</div>

<div class="sml-container">
<h4>Duration:</h4>
<p> trek.duration  days</p>
</div>

<div class="sml-container">
<h4>Start Date:</h4>
<p>trek.start_date</p>
</div>

<div class="sml-container">
<h4>End Date:</h4>
<p>trek.end_date</p>
</div>

<div class="sml-container">
<h4>Total Slots:</h4>
<p>trek.total_slots</p>
</div>

<div class="sml-container">
<h4>Available Slots:</h4>
<p>trek.available_slots</p>
</div>

<div class="sml-container">
<h4>Status:</h4>
<p>trek.status</p>
</div>

<br>

<div class="adm-dash" style="text-align: left;">
<h4>Participants</h4>
</div>

<table border="1">

<tr>
<th>User Name</th>
<th>Email</th>
<th>Booking Date</th>
<th>Status</th>
</tr>

{% for participant in participants %}
<tr>
<td>{{ participant.name }}</td>
<td>{{ participant.email }}</td>
<td>{{ participant.booking_date }}</td>
<td>{{ participant.status }}</td>
</tr>
{% endfor %}

</table>

<br>
<br>

<input type="button" value="Mark as Started" style="width: 200px; color: blue;">

&nbsp;

<input type="button" value="Mark as Completed" style="width: 200px; color: blue;">
<br>
<br>
<br>
</div>
{% endblock %}