<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arohan - Trekkers</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="container">


<div>
<input type="button" value="Dashboard" style="width: 290px; height: 50px; margin: 0 auto;" disabled><br>
<a href="all_treks.html"><input type="button" value="Browse Treks" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="my_bookings.html"><input type="button" value="My bookings" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="profile_trekker.html"><input type="button" value="Profile" style="width: 290px; height: 50px; margin: 0 auto;"></a><br>
<a href="login.html"><input type="button" value="Logout" style="width: 290px; height: 50px; margin: 0 auto;"></a>
</div>






<div class="innr-container">
<div class="admn-head" style="text-align: center;"><h2>Welcome, Amit!</h2>
<br>




<div class="usr-dash" style="text-align: left;"><h4>Avaible Treks</h4></div>
<table border="1px solid black;">
<tr><td>Trek Name</td><td>Location</td><td>Difficulty</td>
<td>Duration</td><td>Available Slots</td><td>Actions</td></tr>

<tr><td>XXXXX</td><td>XXX</td><td>XXXXX</td>
<td>XXXXXXX</td><td>XXXXXXXXXX</td><td>XXXXX</td></tr>
</table>


<div class="usr-dash" style="text-align: left;"><h4>My bookings</h4></div>
<table border="1px solid black;">
<tr><td>Trek Name</td><td>Booking Date</td><td>Status</td>
<td>Action</td></tr>

<tr><td>XXXX</td><td>XXXX</td><td>XXXXX</td>
<td><a href="#"><input type="button" value="View Details" style="color: blue;"></a></td></tr>
</table>


<!--view allboking-->
<br>
</div>
</div>
</div>    

</body>
</html>