<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trek Details</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div style="border: 1px solid black; height: 1000px; width: 800px; margin: 0 auto;">

<div style="border:1px solid blue;
            height:800px;
            width:600px;
            margin:0 auto;
            display:flex;
            flex-direction:column;
            align-items:center;">

<div>
    <h1>Everest Base Camp</h1>
<a href="#">&nbsp;&nbsp;<-Back to Treks</a>
<br>
<br>    

<table border="1" cellpadding="8">

<tr><td>Location</td><td>Nepal</td></tr>

<tr><td>Difficulty</td><td>Hard</td></tr>

<tr><td>Duration</td><td>12 Days</td></tr>

<tr><td>Available Slots</td><td>18</td></tr>

<tr><td>Guide</td><td>Rahul Sharma</td></tr>

<tr><td>Status</td><td>Open</td></tr>
<tr><td>Description</td><td>Beautiful Himalayan trek...</td></tr>
</table>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Book now" style="width: 80px; height: 50px; color: blue;">
<br>
<br>
</div>
</div>
</body>
</html>