{% extends "base.html" %}
{% block title %}Arohan - trek details{% endblock %}
{% block sidebar %}
{% endblock %}


{% block content %}

<h1>Everest Base Camp</h1>
<a href="trekker_dashboard.html">&nbsp;&nbsp;&lt;- Back to Treks</a>
<br>
<br>    

<table border="1" cellpadding="8">

<tr><td>Location</td><td>Nepal</td></tr>

<tr><td>Difficulty</td><td>Hard</td></tr>

<tr><td>Duration</td><td>12 Days</td></tr>

<tr><td>Available Slots</td><td>18</td></tr>

<tr><td>Guide</td><td>Rahul Sharma</td></tr>

<tr><td>Status</td><td>Open</td></tr>
<tr><td>Description</td><td>Beautiful Himalayan trek...</td></tr>
</table>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/my_bookings"><input type="button" value="Book now" style="width: 80px; height: 50px; color: blue;"></a>
<br>
<br>
{% endblock %}